.aboutus_wrap{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .aboutus_swiper{
    margin-top: 25px;
    .aboutus_swiper_main{
      text-align: center;
      .aboutus_swiper_header{
        margin-bottom: 6vh;
        h2{
          font-weight: normal;
        }
      }
      .aboutus_swiper_body{
        margin-top: 2vh;
        h3{
          font-size: 14px;
        }
        img{
          margin: 1vh auto;
          width: 20vh;
        }
        .aboutus_swiper_describe{
          span{
            font-size: 14px;
          }
          p{
            font-size: 12px;
            color: #919191;
            line-height: 1.4em;
          }
          .about_swiper_describe__one{
            margin: 2vh 0;
          }
        }

      }

    }

  }
}
