@import "./colors";
.customer_container{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .customer_wrap{
    padding: 0 10px 0 10px;
    text-align: center;
    h3{
      font-size: $headerSize;
      font-weight: normal;
      margin-bottom: 6vh;
      position: relative;
      &:after{
        content: '';
        display: block;
        width: 40px;
        left: 50%;
        transform: translate3d(-50%,0,0);
        bottom: -10px;
        background-color: $orange;
        height: 1px;
        position: absolute;
      }
    }
    img{
      width: 20vh;
      margin: 4vh auto 2vh;
    }
    .customer__describe{
      margin-top: 4vh;
      p{
        line-height: 1.8em;
        font-size: 14px;
      }
    }
    .customer__name{
      color: $orange;
      margin-top: 1vh;
      p{
        text-decoration: underline;
        line-height: 1.8em;
        font-size: 12px;
      }
    }
  }
}

