@import "./colors.scss";

.navwrap{
  height: 100%;
  width: 100%;
  opacity: 0.95;
  display: flex;
  .nav_list{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    transform: translate3d(0,-100%,0);
    overflow: hidden;
    transition: all .5s ease;
    ul{
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      background-color: $orange;
      color: #fff;
      li{
        z-index: 10;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        min-height: 30px;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .listActive{
    transform: translate3d(0,0,0);
  }

  .nav_btn{
    z-index: 12;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate3d(0,-50%,0);
    transition: all .5s ease;
    ul{
      list-style: none;
      li{
        width: 30px;
        height: 4px;
        border-radius: 4px;
        margin: 4px auto;
        transition: all .5s ease;
        background-color: #000;

      }
    }

  }

    .nav_btn{
      .listActive{
        li{
          background: #fff !important;
        }
        li:first-child{
          transform: rotate(45deg) !important;
          transform-origin: 28% 200%;
        }
        li:last-child{
          transform: rotate(-45deg) !important;
          transform-origin: 16% -130%;
        }
        li:nth-child(2){
          opacity: 0;
        }
      }
    }

}

